body {
  background: #777;
  font-family: Orbitron;
  text-transform: uppercase;
}

button {
  background: #515151;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px #959799;
  color: #FFF;
  height: 40px;
  margin: 5px 5px 3px;
  width: 50px;
}

button:focus {
  outline: none;
}

h1 {
  display: wrap;
  text-align: center;
}

.noShadow {
  box-shadow: none;
}

#AC,
#CE {
  background: #af4848;
}

#buttons {
  margin-top: 15px;
}

#calculator {
  background: #DFD8D0;
  border-radius: 20px;
  box-shadow: 5px 10px 30px 1px rgba(0, 0, 0, 0.8), inset -1px -5px 15px .1px #A49F98;
  height: 400px;
  margin: 5% auto;
  width: 315px;
}

#calculator h1 {
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
}

#equals {
  height: 90px;
  position: absolute;
}

#screen {
  background: #C3C2AB;
  border: 2px solid #888985;
  border-radius: 5px;
  height: 20%;
  margin: 0 auto;
  text-align: right;
  width: 90%;
}

#screen h2 {
  margin-right: 10px;
  margin-top: 5%;
}

#screen p {
  color: gray;
  margin-right: 10px;
}

#signature {
  color: #FFF;
  text-align: center;
  text-transform: none;
}

#zero {
  width: 115px;
}